@import "tailwindcss";

:root {
  --background: #fbfbfe;
  --foreground: #171717;
}


* {
    user-select: none;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-in {
  animation: fadeInUp 0.7s ease-out forwards;
}
.animate-in-delay {
  animation: fadeInUp 0.7s ease-out 0.2s forwards;
}
